.page.theme_dark {
  --bg-color: #000028;
  --heading-color: #DB00FF;
  --some-text-bg-color: #FF0070;
  --text-color-add: #FF0070;
  --button-hover-col: rgba(255, 0, 112, 0.40);
  --text-color: #F1B2CE;
  --text-color-addx2: #000028;
  background-color: var(--bg-color);
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .help-div-add::after {
  display: inline-block;
}

.page.theme_dark .help-div-add {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .help-div-add::after {
    display: inline-block;
  }
  
  .help-div-add {
    display: block;
  }
}