.page.theme_light {
  --bg-color: #FFF1F7;
  background-color: var(--bg-color);
}

.page.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__title {
  --heading-color: #FFC2E6;
  --some-text-bg-color: #FF8DCB;
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--some-text-bg-color);
}

.page.theme_light .header_text {
  --some-text-bg-color: #FF8DCB;
  background-color: var(--some-text-bg-color);
}

.page.theme_light .bottom-left {
  --text-color-add: #353430;
  border-bottom: 1px solid var(--text-color-add);
  border-left: 1px solid var(--text-color-add);
}

.page.theme_light .top-right {
  --text-color-add: #353430;
  border-top: 1px solid var(--text-color-add);
  border-right: 1px solid var(--text-color-add);
}

.page.theme_light .inner_help-div {
  display: none;
}

.page.theme_light .help-div-add {
  display: none;
}

.page.theme_light .header__theme-menu-button {
  --text-color-add: #353430;
  color: var(--text-color-add);
}

.page.theme_light .header__theme-menu-button_active {
  --text-color-add: #353430;
  border: 1px solid var(--text-color-add);
}

.page.theme_light .footer__title {
  --heading-color: #FFC2E6;
  --some-text-bg-color: #FF8DCB;
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--some-text-bg-color);
}

.page.theme_light .main_part-sec-title {
  --text-color-add: #353430;
  color: var(--text-color-add);
}

.page.theme_light .main_part-sec-subtitle {
  --some-text-bg-color: #FF8DCB;
  background-color: var(--some-text-bg-color);
}

.page.theme_light .main_part-sec-text {
  --text-color: #353430;
  color: var(--text-color);
}

.page.theme_light .main_part-sec-subsubtitle {
  --some-text-bg-color: #FF8DCB;
  --text-color-addx2: #353430;
  color: var(--text-color-addx2);
  background-color: var(--some-text-bg-color);
}

.page.theme_light .text-link {
  --some-text-bg-color: #FF8DCB;
  text-shadow: 1.2px 1.2px 0px var(--some-text-bg-color);
}